[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
notebook = "*"
voila = "*"
pandas = "*"
matplotlib = "*"
ipympl = "*"
jupyter = "*"
jupyterlab = "*"
voila-gridstack = "*"
voila-vuetify = "*"
ipyvuetify = "*"
bqplot = "*"

[requires]
python_version = "3.7"
